block table
    table.table
        thead
            tr
                th.col Id
                th.col Name
                th.col Description
        tbody
            each elem in table_data
                tr
                    th(scope="row") #{elem.id}
                    td #{elem.name}
                    td #{elem.description}