include modal

mixin favorite_button(id, favorites)
    - var checked = favorites.includes(id)

    if checked
        a.btn.text-warning.remove-border(href="/removeFavourite/" + id)
            i.bi.bi-star-fill
    else
        a.btn.text-warning.remove-border(href="/addFavourite/" + id)
            i.bi.bi-star

mixin edit_button(id)
    a.btn.text-warning.remove-border(href="#")
        i.bi.bi-pencil-fill

mixin delete_button(id)
    - var modal_id = "#deleteAcordian" + id
    +delete_modal(id)
    button.btn.text-danger.remove-border(type='button' data-bs-toggle='modal' data-bs-target=modal_id)
        i.bi.bi-x-circle-fill