include generic
block header
    header.p-3.text-bg-dark
        .container
            .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start

                a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href="/")
                    include main_logo


                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a.nav-link.px-2.text-white(href="/") Home
                    if user && user.level === 'Administrador'
                        li
                            a.nav-link.px-2.text-white(href="/users/permissions") Change Permissions

                div.d-flex.align-items-center.text-end
                    if user && (user.level === "Administrador" || user.level === "Produtor")
                        +labelLevel(user.level)
                    if user
                        .me-2.ms-2 Bem Vindo, #{user.name}!
                    form(method="POST" action="/users/logout" ).me-2 
                        button.btn.btn-warning.btn-sm(type="submit") Terminar Sessão
                    a.text-white(href="/users/user")
                        i.bi.bi-person-square.fs-3
