block header
    header.p-3.text-bg-dark
        .container
            .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start

                a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href="/")
                    i.bi.bi-bootstrap.fs-3.me-2(role="img", aria-label="Bootstrap")

                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a.nav-link.px-2.text-secondary(href="#") Home
                    li
                        a.nav-link.px-2.text-white(href="#") Features
                    li
                        a.nav-link.px-2.text-white(href="#") Pricing
                    li
                        a.nav-link.px-2.text-white(href="#") FAQs
                    li
                        a.nav-link.px-2.text-white(href="#") About

                div.d-flex.align-items-center.text-end
                    button.btn.btn-warning.btn-sm.me-2(type="button") Logout
                    a.text-white(href="/users/user")
                        i.bi.bi-person-square.fs-3
