doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icons/bootstrap-icons.css')
  body
    .bg-light
      block header
      block content
      block footer
