include buttons
include generic

block table
    table.table
        thead
            tr
                th.col Username
                th.col Afiliação
                th.col Acesso
                th.col Data de Criação
                th.col 
        tbody
            each elem in table_data
                tr

                    td #{elem.username}
                    td #{elem.afiliation}
                    td 
                        +labelLevel(elem.level)
                    td #{elem.dateCreated}
                    td.text-end
                        form(method="POST" action="/users/changePermissions").d-flex.justify-content-between
                            input(type="hidden" name="username" value=elem.username)
                            select.form-select.me-3(name="level" id="level")
                                +optionLevel(elem.level)
                            button.btn.btn-primary(type="submit") Atualizar




    //- block pagination
    //-     include pagination
