extends components/base
block content
    .container.main-page
        .row
            .col-12
                include components/breadcrumb
                    li.breadcrumb-item(aria-current="page")
                        a(href="/") Lista de Acordões 
                    li.breadcrumb-item.active(aria-current="page") Acordão #{accordion.id}
                .card
                    .card-header
                        h4.mb-0
                            i.bi.bi-file-earmark-zip.me-2
                            | Acordão #{accordion.id}
                    .card-body
                        #{accordion.id}
                        