extends components/base
include components/generic
block content
    .container.main-page
        .row
            .col-12
                .card
                    .card-header.text-danger
                        h4.mb-0.d-flex.align-items-center
                            i.bi.bi-exclamation-triangle.me-2
                            | Error
                    .card-body.allow-line-break
                      +card_entry('message',message)
                      +card_entry('status', error.status)
                      +card_entry('stack', error.stack)
