extends components/base
block content
    .container.main-page
        .row
            .col-12
                .card
                    .card-header
                        h4.mb-0
                            i.bi.bi-archive.me-2
                            | Archives
                    .card-body
                        - var table_data = acordoes
                        include components/archives_table