extends ../components/base
block content
    .container.main-page
        .row
            .col-12
                include ../components/breadcrumb
                    li.breadcrumb-item.active(aria-current="page") Lista de Utilizadores
                .card
                    .card-header
                        h4.mb-0
                            i.bi.bi-archive.me-2
                            | Lista de Utilizadores
                    .card-body
                        - var table_data = users.filter(u => u.username !== user.username)
                        - var data_name = "Acordãos"
                        include ../components/users_table