extends ../components/layout
include ../components/footer

block content
    .login-page.bg-light
        .container
            .row
                .col-lg-10.offset-lg-1
                    h3.mb-3.card
                        .bg-white.shadow.rounded
                            .row
                                .col-md-7.pe-0
                                    .form-left.h-100.py-5.px-5
                                        .h1.mb-4 Register
                                        form.row.fs-4.fw-normal.g-4(method='POST' action='/users/register')

                                            .col-12
                                                label(for='username') Email
                                                    .input-group
                                                        .input-group-text
                                                            i.bi.bi-envelope-fill
                                                        input.form-control(type='email' placeholder='Email' name='email' required)

                                            .col-12
                                                label(for='username') Username
                                                    .input-group
                                                        .input-group-text
                                                            i.bi.bi-person-fill
                                                        input.form-control(type='text' placeholder='Username' name='username' required)

                                            .col-12
                                                label(for='Name') Name
                                                    .input-group
                                                        .input-group-text
                                                            i.bi.bi-person-fill
                                                        input.form-control(type='text' placeholder='Name' name='name' required)

                                            .col-12
                                                label(for='password') Password
                                                    .input-group
                                                        .input-group-text
                                                            i.bi.bi-lock-fill
                                                        input.form-control(type='password' placeholder='Password' name='password' required)

                                            .col-12
                                                label(for='password') Afiliation
                                                    .input-group
                                                        .input-group-text
                                                            i.bi.bi-award-fill
                                                        input.form-control(type='text' placeholder='Afiliation' name='afiliation')

                                            .col-8.fs-6.align-self-center
                                                a.text-primary(href='/users/login') Already have an account? Go to login!

                                            .col-4
                                                button.btn.btn-primary.px-4.float-end(type='submit') Register

                                .col-md-5.ps-0.d-none.d-md-block
                                    .form-right
                                        img(src='/images/login_img.jpg' width='100%' height='600px')